html {
    font-family: 'Fantasque Sans Mono';
    background-color: #fdfdfd;
    padding-top: 3vmin;
    padding-bottom: 5vmin;
}

body {
    max-width: 90vmin;
    margin: auto;
    border-radius: 1vmin;
    box-shadow: 0 0 1.5vmin #555555;
}

.main {
    font-weight: 400;
    max-width: 80vmin;
    margin: auto;
    padding-top: 3vmin;
    padding-bottom: 2vmin;
}

#fake-counter {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 6vmin;
}

#fake-counter>*>#number {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
}

.small {
    font-family: 'Fantasque Sans Mono';
    font-size: 2vmin;
}

.title {
    color: #f09199;
    display: flex;
    flex-direction: row;
    margin: 0 0 6vmin 0;
}

.title>#greetings {
    font-size: 4.5vmin;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    flex: auto;
    position: relative;
}

.title>#name {
    font-weight: 700;
    font-size: 10vmin;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    flex: auto;
}

h2 {
    color: #f09199;
    font-weight: 700;
    font-size: 3.3vmin;
    margin: 0.5em 0 0.5em 0;
}

p {
    color: #555555;
    font-size: 2.8vmin;
    margin: 0em 1em 0.7em 1em;
}

a {
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(#f09199, #f09199), linear-gradient(#cccccc, #cccccc);
    background-size: 0% 2px, 100% 2px;
    background-position: 0 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.15s;
}

a:hover {
    background-size: 100% 2px, 100% 2px;
}

.no-default-underline {
    background-size: 0% 2px, 0% 2px;
}

#counter {
    display: flex;
    justify-content: center;
    margin: 7vmin auto 3vmin auto;
}

.error {
    color: #f09199;
    font-size: 4.5vmin;
    text-align: center;
}

.back {
    text-align: center;
}